<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <meta property="og:image" content="img/PatniFamilyTree.png">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1648">
  <meta property="og:image:height" content="829">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patni Family Tree</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="header">
    <h1>My Family Tree</h1>
    <p>Built with love by Akash Jain</p>
  </div>
  <div class="tree">
    <ul>
      <li>
        <a class="husbandwithimg" href="#">
          <img src="img/GreatGrandPa.jpeg">
          <br />Late Bhagtu Lal Ji Patni</a>--
        --<a class="wife" href="#">
          <img src="img/GreatGrandMa.jpeg">
          <br />Late Judab Devi Patni</a>
        <ul>
          <li style="z-index: 10000;">
            <a href="#">
              <img src="img/Manphuli.jpeg">
              <br />
              Late Manphuli Devi Sethi</a>
          </li>
          <li style="z-index: 10000;">
            <a href="#">
              <img src="img/Mahavir.jpeg">
              <br />
              Late Mahavir Prasad Patni</a>
          </li>
          <li style="z-index: 10000;">
            <a href="#">
              <img src="img/BhagChand.jpeg">
              <br />
              Bhag Chand Patni</a>
          </li>
          <li style="z-index: 10000;">
            <a href="#">
              <img src="img/DeepChand.jpeg">
              <br />
              Deep Chand Patni</a>
          </li>
          <li>
          <!-- <li style="margin-left: -340px;margin-right: -340px;"> -->
            <a id="dadu" class="husbandwithimg" href="#">
              <img src="img/GrandPa.jpeg">
              <br />
              Late ShriChand Patni
              <br />
              1941 - 2022
            </a>--
            --<a class="wife" href="#">
              <img src="img/GrandMa.jpeg">
              <br />
              Shanta Devi Patni
              <br />
              1946</a>
            <ul>
              <li>
                <a class="husbandwithimg" href="#">

                  <img src="img/Manoj.jpeg">
                  <br />
                  Manoj Kumar Jain</a>--
                --<a class="wife" href="#">
                  <img src="img/Nilima1.jpeg">
                  <br />Neelu Jain</a>
                <ul>
                  <li>
                    <a href="#">
                      <img src="img/Megha.jpeg">
                      <br />Megha Jain</a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Akash.jpeg">
                      <br />
                      Akash Jain</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="husbandwithimg" href="#">
                  <img src="img/SeemaJ.jpeg">
                  <br />
                  Seema Chabra</a>--
                --<a class="wife" href="#">
                  <img src="img/Ajay.JPG">
                  <br />Ajay Chabra</a>
                  <ul>
                    <li>
                      <a href="#">
                        <img src="img/Gdgd.JPG">
                        <br />Bhawika</a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/Chotu.JPG">
                        <br />
                        Aashika</a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/Nirnay.JPG">
                        <br />
                        Nirnay</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a class="husbandwithimg" href="#">
                  <img src="img/Shashi.jpeg">
                  <br />
                  Shashi Godha(Bobby)</a>--
                --<a class="wife" href="#">
                  <img src="img/Sanjay.JPG">
                  <br />Sanjay Godha</a>
                  <ul>
                    <li>
                      <a href="#">
                        <img src="img/Rahul.JPG">
                        <br />Rahul Godha</a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/Guddu.JPG">
                        <br />
                        Sanchay Godha</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a class="husbandwithimg" href="#">
                  <img src="img/Ani.jpeg">
                  <br />
                  Anita Sethi</a>--
                --<a class="wife" href="#">
                  <img src="img/Manish.JPG">
                  <br />Manish Sethi</a>
                  <ul>
                    <li>
                      <a href="#">
                        <img src="img/Mithu.JPG">
                        <br />Akshat Sethi</a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/Neharika.JPG">
                        <br />
                        Neharika Sethi</a>
                    </li>
                  </ul>
              </li>
              <li>
                <a class="husbandwithimg" href="#">

                  <img src="img/Navin.jpeg">
                  <br />
                  Navin Jain(Pintu)</a>--
                --<a class="wife" href="#">
                  <img src="img/Anshul1.jpeg">
                  <br />Anshul Jain</a>
                <ul>
                  <li>
                    <a href="#">
                      <img src="img/Karan.jpeg">
                      <br />
                      Karan Jain</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <img src="img/Gyan.jpeg">
              <br />
              Gyan Chand Patni</a>
          </li>
          <li>
            <a href="#">
              <img src="img/Vimla.jpeg">
              <br />
              Vimla Devi Sethi</a>
          </li>
          <li>
            <a href="#">
              <img src="img/Padam.jpeg">
              <br />
              Padam Kumar Patni</a>
          </li>
          <li>
            <a href="#">
              <img src="img/Kamla.jpeg">
              <br />
              Kamla Devi Vinaykya</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    window.onload = function() {
      const dadu = document.getElementById('dadu');
      dadu.scrollIntoView({behavior: "smooth", block: "start", inline: "center"});

      $("ul").find("li").each(function(i) {
        $(this).delay(500 * i).show(0);
      });

      $('.husbandwithimg').on('click', function(event) {
        $(this).nextAll('ul:first').slideToggle();
      });
      $('.wife').on('click', function(event) {
        $(this).nextAll('ul:first').slideToggle();
      });
    };
  </script>
</body>

</html>
